<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>uploadBitcode</key>
	<true/>
	<key>uploadSymbols</key>
	<true/>
	<key>provisioningProfiles</key>
	<dict>
		<key>digital.lamp.mindlamp</key>
		<string>mindLAMP 2</string>
		<key>digital.lamp.mindlamp.CustomNotification</key>
		<string>mindLAMP 2 Notification Extension AppStore</string>
		<key>digital.lamp.mindlamp.NotificationService</key>
		<string>mindLAMP 2 Notification Service AppStore</string>
	</dict>
</dict>
</plist>
