// mindLAMP

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Development.xcconfig

DASHBOARD_URL = http:/$()/52.66.237.209:9094/#/
LAMP_API = https:/$()/lampv2.zcodemo.com:9093 //

//DASHBOARD_URL = https:/$()/dashboard-staging.lamp.digital/#/  //
//LAMP_API = https:/$()/api-staging.lamp.digital

//DASHBOARD_URL = http:/$()/52.66.237.209:9094/#/
//LAMP_API = http:/$()/52.66.237.209:9093

//DASHBOARD_URL = https:/$()/admin.lampv2.unityhealth.to/#/
//LAMP_API = https:/$()/api.lampv2.unityhealth.to

IS_TESTING = YES
