// mindLAMP

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Development.xcconfig
// Server URL
DASHBOARD_URL = https:/$()/dashboard-staging.lamp.digital/#/ //https:/$()/dashboard-staging.lamp.digital/#/  //
//DASHBOARD_URL = http:/$()/52.66.237.209:9094/#/
DASHBOARD_API = http:/$()/52.66.237.209:9092
LAMP_API = https:/$()/api-staging.lamp.digital //https:/$()/api.lamp.digital
//LAMP_API = http:/$()/52.66.237.209:9093

IS_TESTING = YES

